.home-board-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.home-board-container a:hover {
    color: rgba(0, 0, 0, 0.7);
}
.home-board-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.home-board-list > li {
    display: inline-block;
    width: 60%;
    margin: 0 0 12px;
    cursor: pointer;
    text-align: left;
}
.home-board-list > li:hover {
    opacity: 0.8;
}
.home-board-item {
    display: block;
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.7);
    height: 80px; 
    padding: 4px 12px;
    border-radius: 5px;
}
.home-board-item-text {
    font-weight: bold;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-board-item-desc {
   margin-top: 12px; 
}
.home-board-item-add {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: inherit;
    width: 100%;
}
