@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

.trigger:hover {
    color: #1890ff;
}
.right {
    float: right;
    height: 100%;
    overflow: hidden;
}
.push-left {
    float: left;
}
.content-wrapper {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.board-header {
    padding: 8px;
}
.board-container {
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height:100%;
	overflow-x: auto;
}
.board-overflow {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    padding-right: 12px;
    overflow: hidden;
}
.list-column {
    width:280px;
    margin: 0 4px;
    vertical-align: top;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 280px;
}
.list-column:first-child {
    margin-left: 12px;
}
.list-container {
    /*min-height: 100px;*/
    background-color: #d9d9d9;
}
.add-button {
    cursor: pointer;
    background-color: rgba(0,0,0,.12);
    color: white;
    text-align: center;
}
.add-button:hover {
    background-color: rgba(0, 0, 0, 0.32);
}
.new-list {
    padding: 8px;
}
.list {
    max-height: 100%;
}
.list-header {
    position: relative;
    padding: 10px;
    min-height: 20px;
    cursor: pointer;
}
.list-header-menu {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
    font-size: large;
}
.list-header-menu:hover {
    background-color: rgba(0, 0, 0, 0.32);
}
.list-cards {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px;
    padding: 0 4px;
}
.card-details {
    overflow: hidden;
    padding: 6px;
    min-height: 60px;
    background-color: white;
    margin-bottom: 4px;
}
.list-footer {
    display: block;
    padding: 8px;
}
