@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
}
.right {
    float: right;
    height: 100%;
    overflow: hidden;
}
.push-left {
    float: left;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.board-header {
    flex: none;
    padding: 8px;
    position: relative;
}
.board-container {
    position: relative;
    flex-grow: 1;
}
#board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow-x: auto;
}
.list-container {
    width:280px;
    margin: 0 4 px;
    vertical-align: top;
    display: inline-block;
}
.list-container:first-child {
    margin-left: 12px;
}
.list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.list-header {
    padding: 10px;
    min-height: 20px;
}
.list-cards {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px;
    padding: 0 4px;
}
.card-details {
    overflow: hidden;
    padding: 6px;
}
.list-footer {
    display: block;
    padding: 8px;
}